// using colors derectly varaible name
$primary: rgba(var(--ion-color-primary-rgb), 1.6);
$Secondary: rgba(var(--ion-color-secondary-rgb), 8.9);
$Dark: rgba(var(--ion-color-dark-rgb), 3.9);
$Medium: rgba(var(--ion-color-medium-rgb), 3.9);
$light: rgba(var(--ion-color-light-rgb), 1.6);

// Using font size derectly used varabile name
$Paragraph: 1em;
$Subtitle: $Paragraph * 1.6;
$title: ($Paragraph * 2);
// Using font size derectly used form mobile screen varabile name
$MobileParagraph: 1em;
$MobileSubtitle: 1.4em;
$Mobiletitle: 2em;
//Pages Comman Headers
.Page {
  &__header {
    text-align: center;
    box-shadow: none;
    ion-title {
      font-size: 120%;
      font-weight: 500;
    }
  }
}
@mixin div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}
@mixin mobile_Responsive {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Navbar {
  &__Container {
    box-shadow: none;
    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: $primary;

      .Navbar__Firstdiv {
        color: $Secondary;
        font-size: 1.4em;
        text-decoration: none;
        h1 {
          margin: 0;
          font-size: 24px;
          font-weight: 600;
        }
        ion-menu-toggle {
          display: none;
          ion-button {
            ion-icon {
              font-size: 2.2em;
              padding-top: 10px;
              color: $Secondary;
            }
          }
        }
      }

      .Navbar__Seconddiv {
        width: 46%;
        align-items: center;
        a {
          color: $light;
          font-size: 1.2em;
          text-decoration: none;
          cursor: pointer;
        }
        a:hover {
          color: $Secondary;
        }
        ion-button {
          width: 16%;
          height: 0.4px;
          font-size: 0.8em;
          .icon_btn {
            margin-right: 6px;
          }
        }
      }
    }
  }
  &__hamburger {
    display: none;
  }
}
.First {
  &__Container {
    background: url("../../assets/img/hero-banner.jpeg") no-repeat;
    background-size: cover;
    height: calc(100vh - 88.88px);
    align-items: center;
    color: #fff;
    @include div;
    @media only screen and (max-width: 1639px) and (min-width: 575.98px) {
      align-items: center;
      height: calc(100vh - 88.88px);
      padding: 80px;
    }
    div {
      width: 50%;
      text-align: start;
      background: rgba(0, 0, 0, 0.75);
      border-radius: 20px;
      padding: 20px;
      h1 {
        font-size: $title;
        font-weight: 700;
      }
      h2 {
        font-size: $Subtitle;
      }

      p {
        font-size: $Paragraph;
        color: rgba(var(--ion-color-light-rgb), 1);
      }
      ion-button {
        width: 32%;
      }
    }
    #img {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      background: transparent !important;

      img {
        width: 65%;
        height: 100%;
      }
    }
  }
}
.Second {
  &__Container {
    @include div;
    background-color: var(--ion-color-light);
    @media only screen and (max-width: 1639px) and (min-width: 575.98px) {
      height: calc(100vh - 100px);
      padding: 80px;
      min-height: 800px;
    }
    div {
      width: 50%;
      h1 {
        // color: #fff;
        font-size: $title;
        margin-bottom: 16px;
      }
      img {
        border-radius: 16px;
      }
    }
    #Second__div {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      div {
        width: 80%;
      }

      div.icon {
        width: 60px;
        height: 60px;
        border-radius: 60px;
        background: var(--ion-color-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        ion-icon {
          font-size: 32px;
          color: var(--ion-color-light);
        }
      }

      h2 {
        // color: #fff;
        font-size: $Subtitle;
      }
      p {
        font-size: $Paragraph;
        color: rgba(var(--ion-color-dark-rgb), 0.75);
      }
    }
  }
}
.CTA {
  &__Container {
    @include div;
    background-color: var(--ion-color-light);
    @media only screen and (max-width: 1639px) and (min-width: 575.98px) {
      // height: calc(100vh - 100px);
      padding: 80px;
    }
    div {
      width: 50%;
      h1 {
        // color: #fff;
        font-size: $title;
        margin-bottom: 16px;
      }
      img {
        border-radius: 16px;
      }
    }
    #CTA__div {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      div {
        width: 80%;
      }

      h2 {
        // color: #fff;
        font-size: $Subtitle;
      }
      p {
        font-size: $Paragraph;
        color: rgba(var(--ion-color-dark-rgb), 0.75);
      }
    }
  }
}

.Promotional {
  &__Container {
    @include div;
    justify-content: center;

    @media only screen and (max-width: 1639px) and (min-width: 575.98px) {
      // height: calc(100vh - 100px);
      padding: 80px;
    }
    #Promotional__div {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #000;
      border-radius: 20px;
      padding: 60px 20px;

      img {
        max-width: 400px;
        border-radius: 20px;
        // box-shadow: 0 0 60px rgba(var(--ion-color-light-rgb), 0.25);
        -webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
        -moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
        box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
        margin-bottom: 20px;
        border: 2px solid #1086e8;
      }

      h2 {
        // color: #fff;
        font-size: $Subtitle;
        text-align: center;
        color: rgba(var(--ion-color-light-rgb), 1);
      }
      p {
        font-size: $Paragraph;
        color: rgba(var(--ion-color-light-rgb), 1);
        // color: rgba(var(--ion-color-dark-rgb), 0.75);
        text-align: center;
      }
    }
  }
}
.Section_heading {
  text-align: center;

  padding: 40px 0 20px 0;
  h1 {
    font-size: 2.2em;
  }
  p {
    padding: 0 40px;
    font-size: $Paragraph;
    color: $Dark;
  }
}
.services {
  &__container {
    display: flex;
    flex-direction: column;
    // background-color: antiquewhite;
    padding: 16px;
    gap: 16px;
    .services__contain {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 16px;
      width: 100%;
      .services_item {
        width: 28%;
        // box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2),
        //   0 1px 1px 0 rgba(0, 0, 0, 0.19);
        // border-radius: 20px;

        img {
          width: 100%;
          // height: 44%;
          height: 300px;
          object-fit: cover;
        }
        .services_content {
          width: 100%;
          // height: 50%;
          padding: 16px;

          h1 {
            color: $Dark;
            font-size: 1.8em;
          }
          p {
            font-size: 1.2em;
            color: rgba(var(--ion-color-dark-rgb), 0.75);
          }
        }
      }
    }
  }
}

.Third {
  &__Container {
    @include div;
    @media only screen and (max-width: 1639px) and (min-width: 575.98px) {
      align-items: center;
      height: calc(84vh - 88.88px);
      padding: 80px;
    }
    div {
      width: 33%;
      padding: 16px;
      img {
        border-radius: 20px;
      }
      h2 {
        font-size: $Subtitle;
      }
      p {
        font-size: $Paragraph;
        color: rgba(var(--ion-color-dark-rgb), 0.75);
      }
      a {
        cursor: pointer;
        color: rgba(var(--ion-color-danger-rgb), 1);
      }
    }
  }
}
.Fourth {
  &__Container {
    background-color: $light;
    @include div;
    @media only screen and (max-width: 1639px) and (min-width: 575.98px) {
      align-items: center;
      height: calc(86vh - 88.88px);
      padding: 80px;
    }
    div {
      width: 50%;

      h1 {
        font-size: $title;
      }
      h2 {
        font-size: $Subtitle;
      }
      span {
        font-size: $Paragraph;
      }
      p {
        color: rgba(var(--ion-color-dark-rgb), 0.75);
        font-size: $Paragraph;
      }
    }
    .form {
      width: 50%;
      display: flex;
      padding: 16px;
      justify-content: center;
      form {
        display: flex;
        flex-direction: column;
        width: 60%;
        padding: 16px;
      }
      input {
        padding: 10px;
      }
      textarea {
        padding: 10px;
      }
      ion-button {
        font-size: 1.1em;
      }
    }
  }
}

.media {
  &__container {
    @include div;
    @media only screen and (max-width: 1639px) and (min-width: 575.98px) {
      align-items: center;
      min-height: 80vh;
      padding: 80px;
    }
    div {
      width: 33%;
      padding: 16px;
    }
  }
  &__item {
    border-radius: 8px;
    overflow: hidden;
    iframe {
      width: 100%;
      height: 100%;
      min-height: 300px;
      border-radius: 8px;
    }
  }
}

.footer {
  &__container {
    border-top: 1px solid var(--ion-color-medium);
    @include div;
    background-color: $light;
    #Menu {
      display: flex;
      flex-direction: row;
      width: 32%;
      padding: 16px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      a {
        text-decoration: none;
      }
      a:hover {
        color: $Medium;
      }
    }
  }
}
@media only screen and (max-width: 982.98px) {
  .Navbar {
    &__Container {
      box-shadow: none;
      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $primary;

        .Navbar__Firstdiv {
          color: $Secondary;
          font-size: 1.4em;
          text-decoration: none;
          ion-menu-toggle {
            display: none;
            ion-button {
              ion-icon {
                font-size: 10em;
                padding-top: 10px;
                color: $Secondary;
              }
            }
          }
        }

        .Navbar__Seconddiv {
          width: 54%;
          align-items: center;
          a {
            color: $light;
            font-size: 1.2em;
            text-decoration: none;
          }
          a:hover {
            color: $Secondary;
          }
          ion-button {
            width: 19%;
            height: 0.4px;
            font-size: 0.8em;
            .icon_btn {
              margin-right: 4 px;
            }
          }
        }
      }
    }
  }

  .Second {
    &__Container {
      @include div;
      background-color: var(--ion-color-light);
      @media only screen and (max-width: 1639px) and (min-width: 575.98px) {
        height: calc(100vh - 88.88px);
      }
    }
  }
  .CTA {
    &__Container {
      @include div;
      background-color: var(--ion-color-light);
      @media only screen and (max-width: 1639px) and (min-width: 575.98px) {
        height: calc(100vh - 88.88px);
      }
    }
  }
  .services {
    &__container {
      .services__contain {
        .services_item {
          width: 34%;
        }
      }
    }
  }
}
//     display: flex;
//     flex-direction: column;
//     // background-color: antiquewhite;
//     padding: 16px;
//     gap: 10px;

//       display: flex;
//       flex-direction: row;
//       justify-content: space-evenly;
//       width: 100%;

//         box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),
//           0 2px 12px 0 rgba(0, 0, 0, 0.19);

//         img {
//           width: 100%;
//           height: 48%;
//           object-fit: cover;
//         }
//         .services_content {
//           width: 100%;
//           height: 50%;
//           padding: 16px;
//           h1 {
//             font-size: 1.6em;
//           }
//           p {
//             font-size: 1em;
//             color: rgba(var(--ion-color-medium-rgb), 3.9);
//           }

//   }
// }

@media only screen and (max-width: 575.98px) {
  .Navbar {
    &__Container {
      box-shadow: none;
      flex-direction: row;

      div {
        display: flex;
        flex-direction: column;
        background-color: $primary;
        width: 100%;

        .Navbar__Firstdiv {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          color: $Secondary;
          font-size: $Mobiletitle;
          text-decoration: none;
          ion-menu-toggle {
            display: block;
            ion-button {
              height: 3.6em;
              ion-icon {
                font-size: 2.4em;
                color: $Secondary;
              }
            }
          }
        }

        .isMobileMenu {
          display: flex;
          flex-direction: column;
          align-items: end;

          padding: 16px;
          a {
            padding: 5px;
            color: $light !important;
            font-size: $MobileParagraph;
            text-decoration: none;
          }
          a:hover {
            color: $Secondary;
          }
          ion-button {
            width: 36%;
            height: 0.2px;
            font-size: 0.9em;

            .icon_btn {
              margin-right: 6px;
            }
          }
        }

        .Navbar__Seconddiv {
          display: none;
          align-items: center;

          // a {
          //   color: $light;
          //   font-size: $MobileParagraph;
          //   text-decoration: none;
          // }
          // a:hover {
          //   color: $Secondary;
          // }
          // ion-button {
          //   width: 26%;
          //   height: 0.4px;
          //   font-size: 0.8em;
          // }
        }
      }
    }
    &__hamburger {
      display: block;
    }
  }

  .First {
    &__Container {
      @include mobile_Responsive;

      div {
        width: 100%;
        h1 {
          font-size: $Mobiletitle;
        }
        h2 {
          font-size: $MobileSubtitle;
        }

        p {
          font-size: $MobileParagraph;
        }
        ion-button {
          width: 100%;
          font-size: 1.2em;
        }
      }
      #img {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }
  .Second {
    &__Container {
      @include mobile_Responsive;
      div {
        width: 100%;
        h1 {
          font-size: $Mobiletitle;
        }
      }
      #Second__div {
        width: 100%;

        h2 {
          font-size: $MobileSubtitle;
        }
        p {
          font-size: $MobileParagraph;
        }
      }
    }
  }
  .CTA {
    &__Container {
      @include mobile_Responsive;
      div {
        width: 100%;
        h1 {
          font-size: $Mobiletitle;
        }
      }
      #CTA__div {
        width: 100%;

        h2 {
          font-size: $MobileSubtitle;
        }
        p {
          font-size: $MobileParagraph;
        }
      }
    }
  }
  .Promotional {
    &__Container {
      @include mobile_Responsive;
      div {
        width: 100%;
        h1 {
          font-size: $Mobiletitle;
        }
      }
      #Promotional__div {
        width: 100%;

        img {
          width: 100%;
        }

        h2 {
          font-size: $MobileSubtitle;
        }
        p {
          font-size: $MobileParagraph;
        }
      }
    }
  }

  .services {
    &__container {
      display: flex;
      flex-direction: column;
      // background-color: antiquewhite;

      gap: 1px;
      .services__contain {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        padding-right: 28px;
        .services_item {
          width: 100%;
          // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),
          //   0 2px 12px 0 rgba(0, 0, 0, 0.19);

          img {
            width: 100%;
            height: 18em;
            object-fit: cover;
          }
          .services_content {
            width: 100%;
            text-align: center;
            padding: 16px;
            h1 {
              font-size: 1.8em;
            }
            p {
              font-size: 1.2em;
              color: rgba(var(--ion-color-medium-rgb), 3.9);
            }
            ion-button {
              width: 50%;
              font-size: 1.4em;
            }
          }
        }
      }
    }
  }

  .Third {
    &__Container {
      @include mobile_Responsive;
      div {
        width: 100%;
        h2 {
          font-size: $MobileSubtitle;
        }
        p {
          font-size: $MobileParagraph;
        }
        a {
          font-size: $MobileParagraph;
        }
      }
    }
  }
  .Fourth {
    &__Container {
      @include mobile_Responsive;
      div {
        width: 100%;

        h1 {
          font-size: $Mobiletitle;
        }
        h2 {
          font-size: $MobileSubtitle;
        }
        span {
          font-size: $MobileParagraph;
        }
        p {
          font-size: $MobileParagraph;
        }
      }
      .form {
        width: 100%;
        form {
          width: 100%;
        }
      }
    }
  }
  .media {
    &__container {
      div {
        width: 100%;
      }
    }
  }
  .footer {
    &__container {
      @include mobile_Responsive;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      ion-title {
        font-size: $Subtitle;
      }
      #Menu {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        a {
          padding: 6px;
          font-size: $Paragraph;
        }
      }
    }
  }
}
@media (max-width: 903.98px) {
  .Navbar {
    &__Container {
      box-shadow: none;
      div {
        .Navbar__Seconddiv {
          width: 50%;
        }
      }
    }
  }
  .First {
    &__Container {
      @include div;
      @media only screen and (max-width: 1639px) and (min-width: 575.98px) {
      }
      div {
        button {
          width: 38%;
          height: 1.6em;
          box-shadow: none;
          background-color: $Secondary;
          font-size: 1.2em;
          border-radius: 2em;
          padding: 4px;
        }
      }
    }
  }
}

// Temp
.service-heading {
  margin-top: 32px;
  h1 {
    font-weight: 600 !important;
  }
}

.back-btn {
  color: var(--ion-color-light);
}
